<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Student Directory</title>
</head>

<body>

<div class="container">
	<br>
	<!-- Add a button -->
	<a th:href="@{/courses/list}"
		class="btn btn-primary btn-sm mb-3"
		style = "float:right;">
		Back to Course Directory
	</a>
	
	<h3>Student Registrations Directory</h3>
	
	<hr>
	
	<a th:href="@{/courses/studentForm}"
		class="btn btn-primary btn-sm mb-3">
		<abbr	style = "text-decoration : none;cursor : pointer";
				title = "Complete the form and add new student to your selected course">
				Add Student
		</abbr>
	</a>
						
	<a th:href="@{/courses/grades}"
		class="btn btn-warning btn-sm mb-3">
		<abbr	style = "text-decoration : none;cursor : pointer";
				title = "Table of all grades(Project,Exam and Final)">
				Show All Grades
		</abbr>
	</a>
	<!-- Add a button -->
	<a th:href="@{/courses/resetStudents}"
		class="btn btn-warning btn-sm mb-3">
		<abbr	style = "text-decoration : none;cursor : pointer";
				title = "Delete all student registrations in once">
				Clear All
		</abbr>
	</a>
	
	<a th:href="@{/courses/projectmenu}"
		class="btn btn-danger btn-sm mb-3">
		<abbr	style = "text-decoration : none;cursor : pointer";
				title = "Shows statistics utilities">
				Project Stats
		</abbr>
	</a>
	
	<a th:href="@{/courses/exammenu}"
		class="btn btn-danger btn-sm mb-3">
		<abbr	style = "text-decoration : none;cursor : pointer";
				title = "Shows statistics utilities">
				Exam Stats
		</abbr>
	</a>
	
	<a th:href="@{/courses/finalmenu}"
		class="btn btn-danger btn-sm mb-3">
		<abbr	style = "text-decoration : none;cursor : pointer";
				title = "Shows statistics utilities">
				Final Grade Stats
		</abbr>
	</a>
	
	<table class="table table-primary table-bordered table-hover">
		<thead class="table-info">
			<tr>
				<th>Registration Number</th>
				<th>Student Name</th>
				<th>Year of Registration</th>
				<th>Current Semester</th>
			</tr>
		</thead>
		
		<tbody>
			<tr class="table-warning" th:each="tempStudent : ${studentobj}">
			
				<td th:text="${tempStudent.am}" />	
				<td th:text="${tempStudent.studentname}" />	
				<td th:text="${tempStudent.yearofreg}" />
				<td th:text="${tempStudent.currsemester}" />
				
				<td>
					<!-- Add "update" button/link -->
					<a th:href="@{/courses/showFormForUpdate2(studentId=${tempStudent.id})}"
					   class="btn btn-info btn-sm">
						<abbr	style = "text-decoration : none;cursor : pointer";
								title = "Update the info of the selected student">
								Update
						</abbr>
					</a>
					<!-- Add "delete" button/link -->					
					<a th:href="@{/courses/delete2(studentId=${tempStudent.id})}"
					   class="btn btn-danger btn-sm">
						<abbr	style = "text-decoration : none;cursor : pointer";
								title = "Delete the selected student">
								Delete
						</abbr>
					</a>
					<!-- Add "Calculate Final Grade" button/link -->					
					<a th:href="@{/courses/register(studentId=${tempStudent.id})}"
					   class="btn btn-success btn-sm">
						<abbr	style = "text-decoration : none;cursor : pointer";
								title = "Register the project grade and the exam grade and the final grade is calculated">
								Calculate Final Grade
						</abbr>
					</a>
					
				</td>
			</tr>
		</tbody>		
	</table>
	
</div>
</body>
</html>